{{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}



<div class="row">

    <div class="col">
        <fieldset >



            <div class="form-group">
                {{ form_label(form.nom,"Nom") }}
            </div>
            <div class="form-group">
                {{ form_widget(form.nom, {'attr':{'class':'form-control '}}) }}
                {{ form_errors (form.nom) }}

            </div>
            <div class="form-group">
                {{ form_label(form.lieu,"Lieu") }}
            </div>
            <div class="form-group">
                {{ form_widget(form.lieu, {'attr':{'class':'form-control '}}) }}
                {{ form_errors (form.lieu) }}

            </div>
            <div  class="form-group">
                {{ form_label(form.adresse,"Adresse") }}
            </div>
            <div id = "lieudiv" class="form-group">
                {{ form_widget(form.adresse, {'attr':{'class':'form-control'}}) }}
                {{ form_errors (form.adresse) }}

            </div>
            <div class="form-group ">
                {{ form_label(form.telephone , 'Telephone') }}
                <div class="form-group">
                    {{form_widget(form.telephone, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors (form.telephone) }}

                </div>

            </div>


        </fieldset>
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>


    {{ form_end(form) }}
