{% extends 'baseAdmin.html.twig' %}


 {% block notif %}
     <!-- Nav Item - Alerts -->
     <li class="nav-item dropdown no-arrow mx-1">
         <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fas fa-bell fa-fw"></i>
             <!-- Counter - Alerts -->
             <span class="badge badge-danger badge-counter" value=""></span>
         </a>
         <!-- Dropdown - Alerts -->
         <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="alertsDropdown">
             <h6 class="dropdown-header">
                 Notifications
             </h6>

             <a class="dropdown-item d-flex align-items-center" href=" ">
                 <div class="mr-3">
                     <div class="icon-circle bg-primary">
                         <i class="fas fa-file-alt text-white"></i>
                     </div>
                 </div>
                 <div>
                     <div class="small text-gray-500"></div>
                     <span class="font-weight-bold"></span>
                 </div>
             </a>
         </div>
     </li>
 {% endblock %}

{% block title %}Specialite  {% endblock %}

{% block container %}
    <h1>Specialite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specialite.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ specialite.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('specialite_index') }}">back to list</a>

    <a href="{{ path('specialite_edit', {'id': specialite.id}) }}">edit</a>

    {{ include('specialite/_delete_form.html.twig') }}
{% endblock %}
