{{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}



<div class="row">

    <div class="col">
        <fieldset >




            <div  class="form-group">
                {{ form_label(form.nom,"Nom de la filière") }}
            </div>
            <div id = "lieudiv" class="form-group">
                {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                {{ form_errors (form.nom) }}



            </div>
        </fieldset>

        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>

    </div>
    {{ form_end(form) }}
