{% extends 'baseEnseignant.html.twig' %}


 {% block notif %}
     <!-- Nav Item - Alerts -->
     <li class="nav-item dropdown no-arrow mx-1">
         <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fas fa-bell fa-fw"></i>
             <!-- Counter - Alerts -->
             <span class="badge badge-danger badge-counter" value=""></span>
         </a>
         <!-- Dropdown - Alerts -->
         <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="alertsDropdown">
             <h6 class="dropdown-header">
                 Notifications
             </h6>

             <a class="dropdown-item d-flex align-items-center" href=" ">
                 <div class="mr-3">
                     <div class="icon-circle bg-primary">
                         <i class="fas fa-file-alt text-white"></i>
                     </div>
                 </div>
                 <div>
                     <div class="small text-gray-500"></div>
                     <span class="font-weight-bold"></span>
                 </div>
             </a>
         </div>
     </li>
 {% endblock %}

{% block title %}Etudiant index{% endblock %}

{% block container %}

    <h3> Nombre d'etudiants encadrés :
        {% for nombredetudiantencadre in nombredetudiantencadre %}

        {% if ((nombredetudiantencadre|first) > 6 )  %}

            Vous ne pouvez pas encadrer plus de 5 personnes

        {% else %}
            {{ nombredetudiantencadre|first }}

        {% endif %}
        {% endfor %}


    </h3>

    <h1>Vos spécialités :
        {% for enseignant in enseignant %}

        {% for s in enseignant.getSpecialites %}
      <a style="font-size: 30px;color: #2653d4">  {{s.nom }} /</a>
        {% endfor %}
        {% endfor %}
    </h1>

    <h1>Recommandations d'étudiants à encadrez</h1>


    <div class="table-responsive">

        <div class="container" >
            <table class="table table-bordered"  style="white-space: inherit;width: 0%" cellspacing="0"  >
                <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Classe</th>
                    <th>Filière</th>

                    <th>Telephone</th>
                    <th>Mail</th>
                    <th>Sujet pfe</th>
                    <th>Spécialité</th>
                    <th>Société</th>
                    <th>DateAjout</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for etudiant in etudiants %}
                    <tr>
                        <td>{{ etudiant.nom }}</td>
                        <td>{{ etudiant.prenom }}</td>
                        <td>{{ etudiant.classe }}</td>
                        <td>{{ etudiant.filiere }}</td>
                        <td>{{ etudiant.telephone }}</td>
                        <td>{{ etudiant.mail }}</td>
                        <td>
                            {% if etudiant.idSujetpfe=='' %}  Non renseignee {% endif %}
                            {% for pfe in pfe %}
                                {% if pfe.getSujet()==etudiant.idSujetpfe %}
                                    <a href="{{ path('pfe_show_enseignant', {'id': pfe.getId()}) }}">
                                        {{ etudiant.idSujetpfe }}</a>
                                {% else %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="columns:180px">
                        {% for pfe in pfe %}
                            {% if pfe.getSujet()==etudiant.idSujetpfe %}
                            {% for s in pfe.getSpecialites %}
                                    <li>{{s.nom }}</li>
                                {% endfor %}
                            {% endif %}

                        {% endfor %}
                        </td>
                        <td>
                            {% for pfe in pfe %}
                                {% for societe in societe %}
                                    {% if pfe.getSujet()==etudiant.idSujetpfe %}

                                        <a href="{{ path('societe_show', {'id': societe.getId()}) }}">
                                            {{ pfe.idSociete }} </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>{{ etudiant.dateAjout ? etudiant.dateAjout|date('Y-m-d') : '' }}</td>

                        <td>
                            <a href="{{ path('AffectationRecommandation', {'idEtudiant': etudiant.cin,'sujetPfee': etudiant.idSujetpfe}) }}" class="btn btn-success">Encadrer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div></div>

    <script>
        function confirmer(){
            var res = confirm("Confirmer la suppression");
            if(res==false){
            }}
    </script>
{% endblock %}
