{% extends 'baseResponsable.html.twig' %}


 {% block notif %}
     <!-- Nav Item - Alerts -->
     <li class="nav-item dropdown no-arrow mx-1">
         <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fas fa-bell fa-fw"></i>
             <!-- Counter - Alerts -->
             <span class="badge badge-danger badge-counter" value=""></span>
         </a>
         <!-- Dropdown - Alerts -->
         <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="alertsDropdown">
             <h6 class="dropdown-header">
                 Notifications
             </h6>

             <a class="dropdown-item d-flex align-items-center" href=" ">
                 <div class="mr-3">
                     <div class="icon-circle bg-primary">
                         <i class="fas fa-file-alt text-white"></i>
                     </div>
                 </div>
                 <div>
                     <div class="small text-gray-500"></div>
                     <span class="font-weight-bold"></span>
                 </div>
             </a>
         </div>
     </li>
 {% endblock %}

{% block title %}Etudiant index{% endblock %}

{% block container %}
    <h1>Affectation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etudiant</th>
                <th>Enseignant</th>
                <th>Sujet Pfe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affectation in affectations %}
            <tr>
                <td>{{ affectation.id }}</td>


                <td>
                    {% for etudiant in etudiant %}

                        {% if etudiant.getCin()==  affectation.idEtudiant %}
                            <a href="{{ path('etudiant_show', {'id': etudiant.id}) }}">
                                {{ etudiant.nom }} {{ etudiant.prenom }} <br>
                                CIN : {{ affectation.idEtudiant }} </a>

                        {% endif %}
                    {% endfor %}
</td>
                <td> {% for enseignant in enseignants %}

                        {% if enseignant.getCin()== affectation.idEnseignant %}
                            <a href="{{ path('enseignant_show', {'id': enseignant.id}) }}">
                                {{ enseignant.nom }} {{ enseignant.prenom }} <br>
                                CIN : {{ affectation.idEnseignant }} </a>
                        {% endif %}
                    {% endfor %}

                    </td>
                <td>{{ affectation.idPfe }}</td>
                <td>
                    <a href="{{ path('affectation_show', {'id': affectation.id}) }}">show</a>
                    <a href="{{ path('affectation_edit', {'id': affectation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('affectation_new') }}">Create new</a>
{% endblock %}
